<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            {{>header}}
           <!-- <h1>{{title}}</h1>
            <p>Created by {{name}}</p>-->
            <br>
            <img src="/img/loshi.jpg">
            {{>footer}}
        </body>
    </head>
</html>